$color-white: #ffffff;
$color-black: #202020;

$color-primary: #c33458;
$color-secondary: #8089a5;
$color-secondary-light: lighten($color-secondary, 20%);
$color-secondary-dark: darken($color-secondary, 20%);

$desktop: 768px;
