@use "./../../styles/variables" as *;

.edit-onomatopoeia {
  &__title {
    margin: 5em auto 1em auto;
    text-align: center;
  }

  &__content {
    margin: auto;
    width: fit-content;
    max-width: 500px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin: 0 auto;
  }

  &__button {
    margin: 2em 0;
    display: inline-block;
    background: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 5px;
    padding: 0.8em 2em;
    color: white;
    font-weight: 700;
    letter-spacing: 0.5px;
    &:hover {
      background: darken($color-primary, 5%);
    }

    &--secondary {
      border: 1px solid $color-primary;
      background-color: unset;
      color: $color-primary;
      &:hover {
        background-color: unset;
      }
    }
  }
}
