@use "../../styles/variables" as *;

.onomatopoeia-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(308px, 1fr));
  grid-auto-rows: 175px;
  padding-bottom: 50px;
}

@media screen and (min-width: $desktop) {
  .onomatopoeia-list {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding: 0 20px 50px 20px;
  }
}
