@use "../../styles/variables" as *;

.form-container {
  font-family: $font-primary;
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: $color-white;
  margin: 0 auto 80px auto;

  &__title {
    width: 100%;
    color: $color-primary;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-size: 1.35em;
    display: block;
    padding: 2em 1em 1.5em 1.5em;
    text-align: center;
  }

  &__form {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__field {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__input {
    padding: 0.5rem;
    width: 60%;
    border-radius: 5px;
    outline: auto;

    &:focus {
      outline: none;
    }
  }

  &__button {
    margin-top: 1em;
    grid-column: 1/-1;
    @include button;
  }
}

@media screen and (min-width: 600px) {
  .form-container {
    width: 90%;

    &__field {
      width: 76%;
    }
  }
}
